diffusers
accelerate
transformers
numpy
torch>=2.5.0,<2.7.0
torchvision>=0.20.0
sentencepiece
gradio
imageio
imageio-ffmpeg
moviepy<2
wandb
deepspeed
peft==0.10.0
decord
opencv-python
tensorboard
open_clip_torch==2.22.0
einops
tqdm
fairscale
timm
pillow
xfuser
xformers
lightning
