diffusers
accelerate<1.8
transformers
numpy<2
torch==2.6.0
torchvision==0.21.0
torchcodec==0.2
sentencepiece
gradio
imageio
imageio-ffmpeg
moviepy
wandb
deepspeed<0.17
peft
decord
opencv-python
tensorboard
open_clip_torch==2.22.0
einops
fairscale
timm
pillow
xfuser
flash-attn<2.8
xformers
lightning
mmcv
html4vision
plyfile
open3d
pyvirtualdisplay
qwen_vl_utils[decord]
